<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We bring it to you ready-to-use.</h2>
                <hr class="light">
                <p class="text-faded">This strategy has been tested and proven by our many cumulative years of trading in the most prestigious American and European financial institutions.</p>
                <p class="text-faded">The techniques used are those of specialists of quantitative research, known as “quants”. These quants draw their analysis from various fields such as statistics, applied physics or algorithmic computer science. They bring big institutional finance its competitive advantage. These technologies, we bring to you.</p>

                <p class="text-faded">A profound work of simplification has been achieved so that you can benefit from these complex statistical methods and computing power in your own personal accounts, using only products available to the retail investor/day trader.</p>

                <p class="text-faded">In physics, 3 fundamental laws explain 97% of all phenomena, in finance 97 laws explain 3% of all phenomena. We do not pretend to know all markets and all products. This is why we remain exclusively in our domain of expertise and trade only the products that we know of (link to the products page).</p>

                <p class="text-faded">Our signal generator is the fruit of a powerful algorithm and takes into account live market data as well as historical data carefully compiled.</p>

                <p class="text-faded">After a series of important calculations 100% computer generated, our algorithm analyzes the market regime we currently are in and its strength. Accordingly, it generates once-a-day a buy or sell recommendations on each of the products that we trade.</p>

            </div>
        </div>
    </div>
</section>

