<header class="small-header" id="services-header">
  <div class="header-content">
	  <div class="header-content-inner">
      <h1>What do we bring you?</h1>
      <hr>
      <p>A ready-to-use professional-grade trading strategy for your portfolio. </p>
      <%= link_to "Subscribe now", new_subscriber_path, class: "btn btn-xl btn-danger",data: { no_turbolink: true } %> 
	  </div>
  </div>
</header>
