  <div class="row">
	  <div class="col-xs-12">
	  	<ul class="nav nav-pills nav-justified">
	  	 <li role="presentation" class="<%= @perf_class %>"><%= link_to "Live Performance", chart_premium_path, data: { no_turbolink: true }%></li>
	  	 	<li role="presentation" class="<%= @futures_class %>"><%= link_to "Futures Values", chart_sections_path, data: { no_turbolink: true }%></li>
	    </ul>
	  </div>
  </div>

            