<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

<div class="container container-devise">
<h1>Values of <%= @date.strftime("%b %d")%></h1>
<%= link_to new_subscriber_path, data: { no_turbolink: true } do %>
  <button class="btn btn-primary">Register</button>
<% end %>
	<div class="row">
 		<div class="col-xs-12">
 			<%= content_tag :div, "", id: "line_chart", data: {section:@future_bookings_count_array}, class: "chart" %>
    </div>
	</div>
</div>


<script>
	var array = [];

  var data = $('#line_chart').data('section');

  for (i in data) {
  	array.push(data[i].value)
  };


    $(document).ready(function() {
        barChart();

    });



    function barChart() {






    	Morris.Line({
      // ID of the element in which to draw the chart.
      element: 'line_chart',
      // Chart data records -- each entry in this array corresponds to a point on
      // the chart.
      data: $('#line_chart').data('section'),
      // The name of the data record attribute that contains x-values.
      xkey: 'time',
      // A list of names of data record attributes that contain y-values.
      ykeys: ['value'],

      resize: true,

      parseTime: false,

      ymin: Math.floor(Math.min(...array)),
      ymax: Math.ceil(Math.max(...array)),
      // xLabels: "week",

      // LabelFormat: function (x) { return new Date(x).getDate() + ' ' + monthNames[new Date(x).getMonth()]; },

      xLabelFormat: function (x) { return x.toString(); },



      // ymax: 10;

      dateFormat: function (x) { return new Date(x).getDate() + ' ' + monthNames[new Date(x).getMonth()]; },

      // xLabels: 'week',

      // xLabelFormat: function (x) { return new Date(x).getDate() + ' ' + monthNames[new Date(x).getMonth()]; },

      // xLabelFormat: function (x) { return x; },




      // Labels for the ykeys -- will be displayed when you hover over the
      // chart.
      labels: ['Value']
    });








}
</script>



