<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>ETF DAILY CHART</h1>
            <hr>
            <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

<div class="container">
	<div class="row">
		 <div class="col-xs-12">
        			<div><%= line_chart @quotes, discrete: true %></div>
							<div><%= line_chart @hash, discrete: true %></div>
        </div>
	</div>
</div>

