$primary-color: hsla(11, 85%, 60%, 1);
$focus-color: hsla(hue($primary-color), saturation($primary-color)+1, lightness($primary-color)-10, alpha($primary-color));
$border-btn-color: hsla(hue($primary-color)-1, saturation($primary-color), lightness($primary-color)-7, alpha($primary-color));
$hover-btn-color: hsla(hue($primary-color)-1, saturation($primary-color), lightness($primary-color)-5, alpha($primary-color));
    