<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Welcome#index</h1>
			<p>Find me in app/views/welcome/index.html.erb</p>
		</div>
		<div class="col-xs-12">
		<div class= "map-responsive">
			<iframe width="691.5" height="427.5775" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1OqbDJSxZdklA1ff3N26BgfQWW0XAej8Gw2gzNQq2VrM/pubchart?oid=1883154447&amp;format=interactive"></iframe>
		</div>
		
		<div><%= line_chart @quotes, discrete: true %></div>

		</div>
	</div>
</div>

