<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Trading is all about Methodology</h2>
                <hr class="light">
                <p class="text-faded">Follow diligently a set of processes and rules that will guide you to success.</p>
                 <p class="text-faded">These sets of rules, we provide to you.</p>
<!--                 <a href="#services" class="btn btn-default btn-xl page-scroll">Discover our services</a> -->
            </div>
        </div>
    </div>
</section>