<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"><%= Faker::Lorem.sentence(4)%></h2>
                <hr class="light">
                <p class="text-faded"><%= Faker::Lorem.paragraph%></p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Discover our services</a>
            </div>
        </div>
    </div>
</section>