<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Receive Our Free Daily Newsletter!</h2>
            <div class="row">
            	<div class="col-sm-4 col-sm-offset-4">
            	<input type="text" class="form-control input-lg" id="exampleInputName2" placeholder="email">
            	</div>
            </div>
            <br>
            <div class="row">
            	<div class="col-sm-4 col-sm-offset-4">
            	 	<a href="#" class="btn btn-block btn-primary btn-lg">Submit!</a> <!-- animation class for button "wow tada" -->
            	 </div>
            </div>
        </div>
    </div>
</aside>

