<header id="main-header">
  <div class="header-content">
	  <div class="header-content-inner">
      <h1>VOL ETF’s MADE EASY</h1>
      <hr>
      <p>A ready-to-use professional-grade trading strategy for your portfolio.</p>
      <%= link_to "#services", class: "page-scroll" do %>
        <div class="row text-primary">
            <div class="col-md-4 text-center ">
                <div class="service-box">
                    <i class="fa fa-4x fa-check "></i>
                    <h3>Simple</h3>
                    <p class="text-muted">Ready to user</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cogs" ></i>
                    <h3>Smart</h3>
                    <p class="text-muted">Automated and professional</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-line-chart"></i>
                    <h3>Efficient</h3>
                    <p class="text-muted">Tested and proven</p>
                </div>
            </div>
        </div>
      <% end %>



      <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
	  </div>
  </div>
</header>

