<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What’s an ETF ?</h2>
                <hr class="light">
                <p class="text-faded">An ETF (Exchange-Traded-Fund) or Tracker is a financial product traded on an exchange which purpose is to track the performance of an index or basket of instruments. One operation on the ETF allows to trade the equivalent measure of this basket of instruments, as one and only instrument.</p>
                <p class="text-faded">ETFs allow us to trade all kinds of asset classes.</p>

                <p class="text-faded">A wide variety of ETFs exist within the asset class of Stocks. Here are a few examples:</p>
                <ul class="text-faded">
                    <li>SPY tracks the performance of the SP500, the index of the 500 biggest companies traded in the United States.</li>
                    <li>XLF, XLE or XLI are sectorial ETFs. They track the performance of the biggest companies traded in the United States within a given sector, respectively financial companies, oil and gas companies and industrial companies.</li>
                </ul>

                <p class="text-faded">Other asset classes, such as Commodities or Government Bonds, can be traded through ETFs:</p>
                <ul class="text-faded">
                    <li>GLD and USO respectively track futures on gold and Oil.</li>
                    <li>TBT and TLT track baskets of US Government Bonds.</li>
                </ul>

                <p class="text-faded">Our study will focus on a very specific asset class: the world of Stock Volatility through the VIX Index, or Volatility Index.</p>

            </div>
        </div>
    </div>
</section>

