<header class="small-header" id="products-header">
  <div class="header-content">
	  <div class="header-content-inner">
      <h1>Our products</h1>
      <hr>
      <p>ETF, VIX, VXX, VZX</p>
       <%= link_to subscribe_text, subscribe_path, class: "btn btn-xl #{subscribe_class} ",data: { no_turbolink: true } %> 
	  </div>
  </div>
</header>
