<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What is the VIX?</h2>
                <hr class="primary">
                 <p class="text-muted">The VIX is the volatility index of the stock market. Commonly referred to as the “fear gauge” of markets, it is a quantified metric of uncertainty in the stock market. Typically, in a bear market, the VIX rises and in a bull market the VIX falls.</p>
                <p class="text-muted">OThe VIX and the SP500 are negatively correlated.</p>
            </div>
        </div>
    </div>
</section>

