<aside class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2>What are the VXX and VXZ?</h2>
            <hr class="light">
             <p class="text-faded">They are baskets of VIX futures. We can consider them as insurance on the stock market. One might buy these products in order to hedge a long exposure on the markets.</p>
            <p class="text-faded">VXX can be interpreted as short-term insurance, whereas VXZ can be seen as medium-term insurance: 1 month for VXX, 5 months for VXZ. Generally, VXZ will be less costly in decay- decay equivalent to the insurance premium- but is a lesser protection. It will cost more to renew many times over a short-term insurance than to take one-shot a longer-term insurance. Should we take the example of a car insurance policy, overall premium will be greater should you chose to renew every month a 1-month policy for a year than the premium of a yearly policy subscription.</p>
            <p class="text-faded">The product that we offer is an algorithmic trading strategy trading those products, based on complex statistical analysis: auto-regressive models. Understand here “a sort of technical analysis”. Our aim is to provide you with the essence of our 10 years of gathered experiences on such products. We bring you the results of our analysis in clear and simple fashion as well as the positions taken by our model in real time.</p>
        </div>
        </div>
        
    </div>
</aside>