  <div class="row">
    <ul class="nav nav-pills">
      <li role="presentation"><a href="premium">Liveddd Performance</a></li>
      <li role="presentation" class="<%= @class %>"><a href="sections">Futures</a></li>
    </ul>
  </div>